@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
	/* Prevent to add horizontal scroll bars 
	on the site when adding padding to any element */
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Inter', sans-serif;
	background-color: whitesmoke;
}

h1 {
	text-align: center;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	font-size: 2.5rem;
}

/* Loader */

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #1a5eff; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 40%;
  left: 45%;
  background-color: rgba(255, 255, 255, 0.9);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.image-container {
	margin: 10px 30%;	
}

.image-container img {
	width: 100%;
	margin-top: 5px;
}

/* Media query: large smartphone */

@media screen and (max-width: 600px) {
	h1 {
		font-size: 1.5rem;
	}

	.image-container {
		margin: 10px 5%;
	}
}